/* RESET PAGINA */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: roboto;
} 

.container{
    width: 70%;
    margin: auto;
}

.flex-container{
    display: flex;
}

header{
    color: white;
}

.nav-bar a,
.end-menu a{
    color: inherit;
    text-decoration: none;
}

.logo,
nav,
.login{
  align-self: center;
}

.odd{
    background-color: white;
    height: 650px;
}

.even{
    background-color: #f6f6f6;
    height: 650px;
}

.lateral p,
.last p{
    font-size: 20px;
    line-height: 32px;
}

/* BUTTON */
.btn{
    border-radius: 25px;
    border: 0;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-head{
    margin-top: 25px;
    width: 65%;
    justify-content: space-around;
}

.small{
    padding: 10px 12px;
}

.large{
    padding: 14px 25px;
    font-size: 21px;
}

#browser{
    background-color: black;
    color: white;
}

#cta-btn{
    background-color: #7289da;
    color: white;
    margin-bottom: 45px;
}

#register{
    background-color: #7289da;
    color: white;
}

/* HEADER TOP */
.header-top{
    font-size: 18px;
    align-content: center;

    /* TEST */
    background-color: #255ee9;
    height: 80px;
}

.nav-bar{
    list-style: none;
    display: flex;
    justify-content: center;

}

.nav-bar li{ 
    padding: 0 20px;
}

nav{
    width: 60%;
}

.logo{
    width: 20%;
    text-align: left;
}

.login{
    width: 20%;
    text-align: right;
}

/* HEADER BOTTOM */
.header-bottom{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    justify-content: center;
    /* TEST */
    width: 100%;
    height: 650px;

}

.jumbotron{
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* TEST */
    height: 70%;
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.header-bottom p{
    line-height: 32px;
    font-size: 24px;
}

/* CORPO PAGINA */
main section{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-page{
    width: 65%;
    height: 80%;
    justify-content: center;
    padding: 15px 0;
}

.lateral{
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 35%;
    height: 80%;
    padding: 15px 25px;
}

h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.last-section{
    background-color: #f6f6f6;
}

.last{
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px 0;
}

.last img{
    width: 100%
}

.call-to-act{
    flex-direction: column;
    align-items: center;
}

.call-to-act h3{
    background-image: url(../img/stars.svg);
    background-size: cover;
    font-size: 30px;
    margin-bottom: 25px;
}

/* FOOTER */
footer{
    background-color: #23272a;
}

/* TOP-PART FOOTER */
.footer-top{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.col-social{
    color: white;

    width: 40%;
}

.social-logo{
    font-size: 25px;
    width: 60%;
    justify-content: space-between;

    margin-top: 20px;
}

.col-social h3{
    color: #7289da;
    font-size: 40px;
    margin-bottom: 15px;
      
}

.flag img{
    width: 30px;
}

.col{
    width: 25%
}

.col ul{
    list-style: none;
    font-size: 16px;
    line-height: 35px;
    color: white;

}

.col li:first-child{
    color:#7289da;
    font-weight: bold;
}


/* BOTTOM-PART FOOTER */
.footer-bottom{
    display: flex;
    justify-content: center;
    border-top: 1px solid #255ee9;



}

.end-banner{
    justify-content: space-between;

    width: 100%;
    margin: 35px 0;

}

.end-banner img{
    width: 140px;
}


